.languageDropdown > select {
    width: 100%;
    font-size: 1em;
	margin: 2px;
	color: #535353;
	padding: 15px 5px 15px 25px;
	height: 50px;
	cursor: pointer;
}

.languageDropdown > select:hover {
	background-color: #dbe2e8;
	color: #7b7b7b;
}
