.GreetingList{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.GreetingList > ul {
    text-align: left;
}

.GreetingList > ul li {
  font-size: 1em;
  color: #535353;
  padding: 5px;
}